# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# If you are using PostgreSQL:
*.pgdata

# If you are using MySQL:
*.sql

# If you are using SQLite:
*.sqlite3

# If you are using virtualenv:
venv/
ENV/
env/
.venv/
.env/
env.bak/
venv.bak/

# If you are using pipenv:
Pipfile.lock

# pyenv
.python-version

# Environments
.env
.env.*
.venv
.venv.*

# pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Static files
staticfiles/
static/


# Coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
